$bubble-gum-pink: #ff5ab7;
$black: #1e1e1e;
$pinkish-grey: #c7c7c7;
$very-light-pink: #c4c4c4;
$white: #fafafa;
$white-two: #fff;
$medium-blue: #307bbe;
$pale-grey: #f5f6fa;
$black-two: #121212;
$azure: #0290ff;
$white-three: #e8e8e8;
